:root {
    --white: #FFFFFF;
    --peach: #EEBBC3;
    --pink: #ce8892;
    --medium: #CCCCCB;
    --blue: #B8C2EB;
    --almostblack: rgba(74, 87, 136, 1);
    --black: #232A46;
    --blacker: #000000;

    --basic: 'PT Sans', sans-serif;
    --fancy: 'Unica One', cursive;

    font-size: 1rem;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

  
body {
    background-color: var(--black);
    background-image: radial-gradient(var(--medium) 1px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;

    color: var(--black);
    font-family: var(--basic);
    text-align: left;
}

h2{    font-size: 1.2rem;
    margin: 0px;
    font-family: var(--fancy);

}

a:link, a:visited {
    color: var(--black);
    text-decoration: none;
}

a:hover{
    color: var(--white);
    text-decoration: none; 
}

a:active {
    color: var(--extralight);
    text-decoration: none;
  }

/* ------- */

.outercontainer{
    width: 98vw;
    }

.container{
    width: 80vw;
    max-width: 1200px;
    min-width: 881px;
    height: 90vh;
    margin: 50px auto 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left-half right-half";
    gap: 20px;
}

/* ------- */
.left-half{
    height: 100%;
    width: 100%;
    grid-area: 'left-half';
}

.right-half{
    height: 100%;
    width: 100%;
    grid-area: 'right-half';
}

/* ------- */

.hello{
    width: 100%;
    height: 4rem;
}

.links{
    background: var(--blue);
    width: 100%;
    padding-top: 3rem;
    position: relative;
    z-index: 2;
}

.corkboard{
    background: var(--pink);
    height: 80%;
    width: 80%;
    margin: 0 auto auto 0;
    position: relative;
    left: -40px;
    text-align: center;
    transition-duration: 0.4s;
}

  @media (min-width: 1300px) {
    .corkboard  .shape {
        transform: scale(125%) rotate(-5deg);
    }

    .corkboard  
    .circle {
        top: -3%;
        z-index: 2;
    }

    .corkboard  
    .list {
        transform: scale(125%) rotate(5deg);
        z-index: 1;
        top: -25%;
    }
  }

/* ---pure style---- */

.blocky{
    box-shadow: 
    1px 0px 1px var(--blacker), 0px 1px 1px var(--almostblack), 
    2px 1px 1px var(--blacker), 1px 2px 1px var(--almostblack),
    3px 2px 1px var(--blacker), 2px 3px 1px var(--almostblack),
    4px 3px 1px var(--blacker), 3px 4px 1px var(--almostblack),
    5px 4px 1px var(--blacker), 4px 5px 1px var(--almostblack),
    6px 5px 1px var(--blacker), 5px 6px 1px var(--almostblack),
    7px 6px 1px var(--blacker);
    border: solid var(--black) 2px;
}

.shadowed{
    filter:
        drop-shadow(-1px -1px 0px var(--blacker))
        drop-shadow(1px 1px 0px var(--black))
        drop-shadow(6px 6px 0px var(--black));    
    border: solid var(--black) 2px;
}

.title{
    color: var(--white);
    font-family: var(--fancy);
    font-size: 2.5rem;
    position: relative;
    z-index: 5;
    padding-left: 10px;
    text-shadow: 
    1px 0px 1px var(--blacker), 0px 1px 1px var(--almostblack), 
    2px 1px 1px var(--blacker), 1px 2px 1px var(--almostblack),
    3px 2px 1px var(--blacker), 2px 3px 1px var(--almostblack),
    4px 3px 1px var(--blacker), 3px 4px 1px var(--almostblack),
    5px 4px 1px var(--blacker), 4px 5px 1px var(--almostblack),
    6px 5px 1px var(--blacker), 5px 6px 1px var(--almostblack),
    7px 6px 1px var(--blacker);
}

.clicky{
    background-color: var(--dark);
    border: 2px var(--white) outset;
    padding: 5px;
    margin: 5px;
}

.clicky:hover{
    background-color: var(--black);
    color: var(--white);
    transition-duration: 0.4s;
}

.clicky:active{
    color: var(--black);
    background-color: var(--extralight);
}

/* ---background bits---- */

.position01{
    display: block;
    position: absolute;
    left: 80%;
    top: 2%;
    z-index: -4;
}

.position02{
    display: block;
    position: absolute;
    left: 5%;
    top: 40%;
    z-index: -4;
}

.position03{
    display: block;
    position: absolute;
    left: -5px;
    bottom: -3px;
    z-index: -4;
    transform: rotate(-20deg);

}

/* ---shapes---- */

.triangle{
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 0 50px 86.6px 50px;
    border-color: transparent transparent var(--peach) transparent;
    transform: rotate(20deg);
    position: relative;
    z-index: 3;
}

.triangle-two{
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 0 50px 86.6px 50px;
    border-color: transparent transparent var(--almostblack) transparent;
    transform: rotate(20deg);
    position: absolute;
    left: 2%;
    bottom: 10%;
    z-index: -4;
}

.triangle-three{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 43.3px 25px;
    border-color: transparent transparent var(--black) transparent;
    transform: rotate(-20deg);
    color: var(--almostblack)''
}

.triangle-secret{
    width: 0;
    height: 0;
}

.square{
    width: 200px;
    height: 300px;
    background: var(--white);
    position: relative;
    left: 40%;
    top: -10%;
    transform: scale(105%) rotate(-5deg);
}

.portrait{
    width: 90%;
    height: 90%;
    position: relative;
    margin: 10px auto;
    border: solid 1px var(--blacker);
    background-size: cover;
    background-image: url(img/photo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bubble{
    transform: rotate(5deg);
    width: 200px;
    padding: 10px 5px 10px 5px;
    background: var(--blue);
    border: solid 1px var(--almostblack);
    border-radius: 10px;
    position: relative;
    left: 10%;
    top: -20%;
    z-index: 2;
}

.bubble:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid transparent;
    border-right: 12px solid var(--blue);
    border-top: 24px solid transparent;
    border-bottom: 12px solid var(--blue);
    right: 32px;
    top: -24px;
    z-index: -1;
  }

.circle{
    width: 80px;
    height: 80px;
    background: var(--blue);
    border: solid 1px var(--blacker);
    border-radius: 40px;
    position: relative;
    left: 70%;
    top: 3%;
    z-index: 1;
}

.circle-two{
    width: 60px;
    height: 60px;
    background: var(--almostblack);
    border: solid 1px var(--blacker);
    border-radius: 30px;
    position: relative;
    left: 2%;
    top: -30%;
    z-index: 1;
}

.list{
    text-align: left;
    width: 200px;
    height: 150px;
    padding: 5px;
    background: var(--white);
    border: solid 1px var(--almostblack);
    border-radius: 10%;
    position: relative;
    left: 20%;
    top: -30%;
    z-index: 2;
}

.icons{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px;
}

.icons img{
    height: 1.5rem;
  }

.icons
:hover{
    opacity: 0.5;
    cursor: pointer;
  }

  .languages{
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px;
}

.languages li{
    list-style-type: none;
    list-style-position: outside;
    padding: 5px;
    text-align: right;
    margin: 10px;
    background-color: var(--almostblack);
    border-radius: 5px;
    color: var(--white);
    line-height: 120%;
    filter:
        drop-shadow(-1px -1px 0px var(--blacker))
        drop-shadow(1px 1px 0px var(--black))
        drop-shadow(4px 4px 0px var(--black));  
}

.languages .date{
    background-color: var(--pink);
}

/* ---preview panels---- */

.disappear{
    display: none;
}

.cv{
    background-color: var(--peach);
    background-image: 
        linear-gradient(90deg, var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        linear-gradient(0deg,  var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        url(img/panel-cv.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clock{
    background-color: var(--peach);
    background-image: 
        linear-gradient(90deg, var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        linear-gradient(0deg,  var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        url(img/panel-clock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flashcards{
    background-color: var(--peach);
    background-image: 
        linear-gradient(90deg, var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        linear-gradient(0deg,  var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        url(img/panel-flashcards.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.highfive{
    background-color: var(--peach);
    background-image: 
        linear-gradient(90deg, var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        linear-gradient(0deg,  var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        url(img/panel-highfive.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.memory{
    background-color: var(--peach);
    background-image: 
        linear-gradient(90deg, var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        linear-gradient(0deg,  var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        url(img/panel-memory.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hookd{
    background-color: var(--peach);
    background-image: 
        linear-gradient(90deg, var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        linear-gradient(0deg,  var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        url(img/panel-hookd.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.art{
    background-color: var(--peach);
    background-image: 
        linear-gradient(90deg, var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        linear-gradient(0deg,  var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        url(img/panel-art.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.artlinks{
    background-color: var(--peach);
    background-image: 
        linear-gradient(90deg, var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        linear-gradient(0deg,  var(--white) 0% 5px, transparent 5px calc(100% - 5px), var(--white) calc(100% - 5px)),
        url(img/panel-artlinks.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---media---- */
@media (max-width: 700px) {
    .container {

        width: 90vw;
        max-width: 700px;
        min-width: 600px;
        height: 90vh;
        margin: 20px auto 10px auto;
    
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "left-half right-half";
    }

    .corkboard{
        height: 80%;
        width: 100%;
        position: relative;
        left: -60px;
    }

    .triangle{
        transform: scale(80%) rotate(20deg);
    }

    .square{
        transform: scale(80%) rotate(3deg);
        left: 20%;
        top: -15%;
    }

    .list{
        width: 170px;
        height: 150px;
        padding: 5px;
    }

    .bubble:after {
        border-left: 24px solid var(--blue);
        border-right: 12px solid transparent;
        border-top: 24px solid transparent;
        border-bottom: 12px solid var(--blue);
      }
} 